<div class="parallax">
  <div class="parallax__group">
    <div class="parallax__layer parallax__layer--deep">
            <img style="width: 100%;" src="{{ config['PARALAX_LAYERS'][2] }}">
    </div>
    <div class="parallax__layer parallax__layer--back">
            <img style="width: 100%;" src="{{ config['PARALAX_LAYERS'][1] }}">
    </div>
    <div class="parallax__layer parallax__layer--base">
            <img style="width: 100%;" src="{{ config['PARALAX_LAYERS'][0] }}">
    </div>
  </div>
  <div class="parallax__group">
  </div>
</div>
