<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "default_head_content.html" %}
    </head>
    <body style="overflow: hidden !important; background-color: black;">
        
        {% include 'navbar.html' %}
        <div class="parallax">
            
            <!-- header picture -->
            <div class="parallax__group" style="min-height: 80vh">
                <div class="parallax__layer parallax__layer__1">
                        <img style="width: 100%;" src="{{ config['PARALAX_LAYERS'][1] }}">
                </div>
                <div class="parallax__layer parallax__layer__2">
                        <img style="width: 100%;" src="{{ config['PARALAX_LAYERS'][2] }}">
                </div>
                <div class="parallax__layer parallax__layer__3">
                        <img style="width: 100%;" src="{{ config['PARALAX_LAYERS'][3] }}">
                </div>
                <div class="parallax__layer parallax__layer__5">
                        <img style="width: 100%;" src="{{ config['PARALAX_LAYERS'][4] }}">
                </div>
                <div class="parallax__layer parallax__layer__front" 
                    style="margin-top: 80vh; background-image: url({{ config['BG_SECTION_2'] }})">
                        <!--<img style="width: 100%;" src="{{ config['PARALAX_LAYERS'][0] }}">-->
                    <img style="width: 100%;" src="{{ config['BG_SECTION_2'] }}">
                    <div class="spacer"></div>
                    <div class="pos-abs-with-offset">
                        <div class="steam-info">
                            Wishlist on Steam
                        </div>

		                <video controls height="480" style="display: block; margin: auto;">
                        <source src="{{ config['TRAILER_URL'] }}" type="{{ config['VIDEO_FORMAT'] }}">
		                	Unsupported by browser.
		                </video> 
                        <!-- Short Description -->
		                <div class="title boxxed">
		                	{{ config["SHORT_DESCRIPTION"] }}
		                </div>
                        <!-- Long Description -->
		                <div class="row limit-row">
		                	<div class="col-md limit-col mt-3">
		                		{{ config["LONG_DESCRIPTION_LEFT_COL"] | safe}}
		                	</div>
		                	<div class="col-md limit-col mt-3">
		                		{{ config["LONG_DESCRIPTION_RIGHT_COL"] | safe }}
		                	</div>
		                </div>

		    	        <div class="row">
		    	        	<div class="col">
                                    <img class="quater-img left-side-img" src='{{ config["PICTURE_1"] }}'>
		    	        	</div>
		    	        	<div class="col">
                                    <img class="quater-img right-side-img" src='{{ config["PICTURE_2"] }}'>
		    	        	</div>
		    	        </div>
		    	        <div class="row">
		    	        	<div class="col">
                                    <img class="quater-img left-side-img" src='{{ config["PICTURE_3"] }}'>
		    	        	</div>
		    	        	<div class="col">
                                    <img class="quater-img right-side-img" src='{{ config["PICTURE_4"] }}'>
		    	        	</div>
		    	        </div>

                        <!-- choices showcase -->
                        <div class="choices-container">
                            <div class="title boxxed short-text">
                                    {{ config["CHOICES_SHORT_TEXT"] }}
                                    <div class="row">
		    	            	        <div class="col">
                                            <img class="big-img quater-img left-side-img" 
                                                src='{{ config["CHOICES_PICTURE"] }}'>
                                        </div>
		    	            	        <div class="col">
                                            <img class="big-img quater-img right-side-img" 
                                                src='{{ config["CHOICES_PICTURE"] }}'>
                                        </div>
                                    </div>
                            </div>
                        <div>

                        <!-- everything has meaning -->
                        <div class="explore">
                            <div class="short-text boxxed title">
                                    {{ config["EXPLORE_THE_FIELD_TEXT"] }}
                            </div>
		    	            <div class="row">
		    	            	<div class="col">
                                    <img class="quater-img left-side-img" 
                                            src='{{ config["EXPLORE_PIC_1"] }}'>
		    	            	</div>
		    	            	<div class="col">
                                    <img class="quater-img right-side-img" 
                                            src='{{ config["EXPLORE_PIC_2"] }}'>
		    	            	</div>
		    	            </div>
                        </div>

                        <div class="row">
                            <!-- quote from mark -->
                            <div class="quote">
                                    {{ config["QUOTE"] }}
		                    </div>
                        </div>

                        <div class="footer-in-paralax">
                            <a style="color: rgba(255,255,255,.5);" 
                                    href="https://potaris.de/impressum">Impressum/Legal</a>
                        </div>

                    <!-- abs pos container end -->
                    </div>

                <!-- paralax front layer end -->
                </div>
            
            <!-- paralax group  end -->
            </div>

        <!-- paralax container end -->
        </div>
    </body>
</html>
