<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sector 32</title>
        <meta name="Description" content="Decent into Sector 32 is a 3rd person flying narrative game set in the far future.">
        {% include "default_head_content.html" %}
    </head>
    <body class="bg-special">
        
        {% include 'navbar.html' %}

        <!-- paralax  --> 

        <!-- steam link -->

        <!-- Trailer  -->

        <!-- Short Description -->
        <!-- Long Description -->

        <!-- 4 pictures -->

        <!-- quote from mark -->
        <!-- "Out of the places I've been, I guess this is where I'm just not going to leave." -->

        {% include 'footer.html' %}
    </body>
</html>
