<div class="modal" id="bigPicModal" tabindex="-1" 
        role="dialog" aria-labelledby="bigPicModalTitle" aria-hidden="true"
        style="transition: opacity .15s linear;">

  <div style="width: 90%; margin-right: auto; margin-left: auto;" 
          class="modal-dialog-centered" role="document">

      <div class="modal-body">
        <button type="button" class="close" onclick="$('#bigPicModal').modal('toggle')"
                aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <img class="w-100" id="modal-image"></img>
      </div>

  </div>

</div>
